{
  "id": null,
  "name": "GOBI",
  "code": "AQ-GOBI",
  "description": "This is Yankee Book Peddler.",
  "status": "Active",
  "language": "en-us",
  "erpCode": "AQ-GOBI-HIST",
  "paymentMethod": "EFT",
  "accessProvider": true,
  "governmental": true,
  "licensor": true,
  "materialSupplier": true,
  "claimingInterval": 30,
  "discountPercent": 10,
  "expectedActivationInterval": 1,
  "expectedInvoiceInterval": 5,
  "renewalActivationInterval": 1,
  "subscriptionInterval": 365,
  "liableForVat": false,
  "taxId": "TX-GOBI-HIST",
  "taxPercentage": 5,
  "sanCode": "1234567"
}
